<div class='p-5 m-5'>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<div>
    <h2>pepper pizza price :12€</h2>
    <h2>pepper pizza price :12€</h2>
    <h2>pepper pizza price :12€</h2>
    <h2>pepper pizza price :12€</h2>
    <h2>total :68€</h2>
</div>

<div class='container p-2 m-2'>

</div>
    <button type="button" class="btn btn-danger">Order</button>
</div>




