<div class='bg-danger'>
    <div>
        <img class='bk pt-5' src="/images/header.svg" alt="site-background">
    </div>

   

    <div class="container p-5">
        <div class="row">
            <div class="col-sm">
                <div class="card bg-dark text-white">
                    <img src="https://source.unsplash.com/random" class="card-img" alt="...">
                </div>
            </div>
            <div class="col-sm">
                <div class="card bg-dark text-white">
                    <img src="https://source.unsplash.com/random" class="card-img" alt="...">
                </div>
            </div>
            <div class="col-sm">
                <div class="card bg-dark text-white">
                    <img src="https://source.unsplash.com/random" class="card-img" alt="...">
                </div>
            </div>
        </div>
    </div>

     <div class="container p-5">
        <div class="row">
            <div class="col-sm">
                <div class="card bg-dark text-white">
                    <img src="https://source.unsplash.com/random" class="card-img" alt="...">
                </div>
            </div>
            <div class="col-sm">
                <div class="card bg-dark text-white">
                    <img src="https://source.unsplash.com/random" class="card-img" alt="...">
                </div>
            </div>
            <div class="col-sm">
                <div class="card bg-dark text-white">
                    <img src="https://source.unsplash.com/random" class="card-img" alt="...">
                </div>
            </div>
        </div>
    </div>


</div>