 {{#if myerror}}
   <div class='container p-5 m-5'>
       <h2>{{myerror}}</h2>
   </div>
   {{/if}}

<div class='bg-danger'>
    <div>
        <img class='bk pt-2' src="/images/header.svg" alt="site-background">
    </div>


    <div class="container p-3">
        <div class="row">
            <div class="col-sm">
                <div class="card bg-dark text-white">
                    <img src="/images/pizza1.svg" class="card-img" alt="...">
                   
                </div>
            </div>
            <div class="col-sm">
                <div class="card bg-dark text-white">
                    <img src="/images/pizza2.svg" class="card-img" alt="...">
                    
                </div>
            </div>
            <div class="col-sm">
                <div class="card bg-dark text-white">
                    <img src="/images/pizza3.svg" class="card-img" alt="...">
                
                </div>
            </div>
        </div>
    </div>

     <div class="container p-3">
        <div class="row">
            <div class="col-sm">
                <div class="card bg-dark text-white">
                    <img src="/images/pizza4.svg" class="card-img" alt="...">
            
                </div>
            </div>
            <div class="col-sm">
                <div class="card bg-dark text-white">
                    <img src="/images/pizza5.svg" class="card-img" alt="...">
                    
                </div>
            </div>
            <div class="col-sm">
                <div class="card bg-dark text-white">
                    <img src="/images/pizza6.svg" class="card-img" alt="...">
            
                </div>
            </div>
        </div>
    </div>


</div>