

<div class="jumbotron jumbotron-fluid m-5 p-5">
  <div class="container">
    <h1 class="display-4">Sign in into your account </h1>
    <p class="lead">Sign in into your account to perform actions</p>
  </div>
</div>

<div class='container'>
    <h1>user email: dani@gmail.com</h1>
    <h1> my adress: rua do jorge santos n12 bloco d</h1>
</div>




<form class='p-5 m-5'method='POST' action='/signin/signin'>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name='email'class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Adress</label>
    <input type="email" name='email'class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>